[[lsp_servers]]
language_id = "yaml"
command = "ansible-language-server"
args = ["--stdio"]
file_patterns = ["**/*.yml"]
timeout_seconds = 30
request_timeout_seconds = 30

[lsp_servers.heuristics]
project_markers = [
    "ansible.cfg",
    ".ansible-lint",
    "site.yml",
    "playbook.yml",
    "roles",
]
