[Resolve]
DNS=2a07:a8c0::#{{ dns_nextdns_hostname }}.dns.nextdns.io
DNS=2a07:a8c1::#{{ dns_nextdns_hostname }}.dns.nextdns.io
DNS=45.90.28.0#{{ dns_nextdns_hostname }}.dns.nextdns.io
DNS=45.90.30.0#{{ dns_nextdns_hostname }}.dns.nextdns.io
FallbackDNS=2606:4700:4700::1111 2606:4700:4700::1001 1.1.1.1 1.0.0.1
Domains=~.
DNSSEC=yes
DNSOverTLS=yes
