{
  "mcpServers": {
    "mcpls": {
      "args": [],
      "command": "mcpls",
      "disabled": false
    },
    "context7": {
      "disabled": false,
{% if dotfiles_context7_api_key is defined and dotfiles_context7_api_key | length > 0 %}
      "headers": {
        "Authorization": "Bearer {{ dotfiles_context7_api_key }}"
      },
{% endif %}
      "serverUrl": "https://mcp.context7.com/mcp"
    }
  }
}
